#circle_lg {
    height:200px;
    width:auto;
    user-select: none;
}

#ar_right {
    height:100px;
    width:auto;
    user-select: none;
}

#ar_left {
    height:100px;
    width:auto;
}

#circle_sm {
    height:100px;
    width:auto;
}

#highlight {
    width:auto;
    height:auto;
}

#generatedText {
    font:30px Arial;
}

#trimpop {
    display: none;
}

#shapepop {
    width:100%;
}

.draggable {
    cursor:pointer;
    user-select: none;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 30px;
}

.version-header {
    border-bottom: 2px solid black;
    position:fixed;
    width:100%;
    background:grey;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.drop-landing {
    width:850px;
    height:450px;
    max-height:500px;
    border: 3px dotted #ff00ff;
    z-index:200;
    position:absolute;
    margin-left:25%;
}

.menu {
    padding:75px;
    margin-top:10px;
}

.btn-lg {
    font-weight:bold;
    font-size:30px;
}

.popover {
    border: 2px solid black;
}

.popover-header {
    font-size: 30px;
}

.popover-body {
    font-size: 20px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

video {
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 50%;
    object-fit:cover;
}

.videodiv{
    padding: 10px;
    border: 2px solid #282860;
    border-radius: 10px;
    position:absolute;
}

input[type=number]{
    max-width:25%;
    margin-top:5px;
    margin-bottom:5px;
}

a {
    color:black;
}

a:hover {
    color:white;
}